body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: #dddddd;
}

h1{
    font-size: 3em;
}

table {
    border-collapse: collapse;
}

td, th{
    border: #aaaaaa 1px solid;
    text-align: left;
    padding: 8px;
}

th {
    font-size: 1.5em;
}

tr:nth-child(even) {
    background-color: #aaaaaa;
}

button, input[type=submit]{
    color: white;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    border: black 1px none;
    height: 50px;
    width: 150px;
}

.yes-btn{
    background-color: rgb(44, 119, 37);
}

.no-btn{
    background-color: rgb(201, 15, 15);
}

#new-book-form{
    border: 2px black solid;
    text-align: center;
    padding: 20px;
    height: 400px;
    width: 400px;
}

.edit-icon{
    height: 15px;
    cursor: pointer;
}