:root {
    --main-bg: #dddddd;
    --secondary-bg: #aaaaaa;
    --tertiary-bg: #777777;
    --main-color: #700000;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: var(--main-bg);
    counter-reset: var(--main-color);
}

h1{
    padding-top: 25px;
    font-size: 3em;
    text-align: center;
    color: var(--main-color);
}


td, th{
    border: var(--tertiary-bg) 1px solid;
    text-align: left;
    padding: 8px;
}

th{
    background-color: var(--main-color);
    color: var(--main-bg);
    font-size: 1.5em;
    text-align: center;
}

tr {
    color: var(--main-color)
}

tr:nth-child(even) {
    background-color: var(--secondary-bg);
    border: var(--main-bg) 1px solid;
}

button, input[type=submit]{
    color: white;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    border: black 1px none;
    height: 50px;
    width: 150px;
    font-size: 0.5em;
}
.off-table{
    background-color: var(--main-bg);
    border: none;
}

.yes-btn{
    background-color: rgb(44, 119, 37);
}

.no-btn{
    background-color: rgb(201, 15, 15);
}

#new-book-form{
    border: 2px black solid;
    padding: 20px;
    height: 500px;
    width: 500px;
    background-color: var(--secondary-bg);
    color: var(--main-color);
    margin: auto;
}

#new-book-btn{
    margin: auto;
}

.new-book{
    padding: 50px 0 50px 0;
    display: flex;
}

label[for="read-yes"], label[for="read-no"]{
    font-size: 0.75em;
}

.edit-icon{
    height: 15px;
    cursor: pointer;
}

.title{
    width: 30%;
}

.author{
    width: 30%;
}

.pages{
    width: 10%;
    text-align: center;
}

.read{
    width: 10%;
    text-align: center;
}

.read>.table-entry{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.read>.table-entry>div{
    width: 50%;
}

p{
    text-align: center;
    color: var(--main-color);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    cursor: default;
}