:root {
    --main-bg: #dababa;
    --secondary-bg: #b18d8d;
    --tertiary-bg: #796969;
    --main-color: #700000;
    --form-size: 500px;
    --yes-color:rgb(44, 119, 37);
    --no-color:rgb(201, 15, 15);
}

header{
    background-color: var(--main-color);
    color: var(--main-bg);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

footer{
    background-color: var(--main-color);
    color: var(--main-bg);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    background-color: var(--main-bg);
    counter-reset: var(--main-color);
}

h1{
    font-size: 2em;
    text-align: center;
    color: var(--main-bg);
}


td, th{
    text-align: left;
    padding: 8px;
    border-radius: 20px; 
    border: var(--main-bg) 2px solid;
}

th{
    background-color: var(--main-color);
    color: var(--main-bg);
    font-size: 1.5em;
    text-align: center;
}

tr {
    color: var(--main-color);
    border: var(--main-bg) 1px solid;
}

tr:nth-child(even) {
    background-color: var(--secondary-bg);
    
}

tr:nth-child(odd) {
    background-color: var(--tertiary-bg);
}


button, input[type=submit]{
    color: white;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 0.5em;
}
.off-table{
    background-color: var(--main-bg);
    border: none;
}

.yes-btn{
    background-color: var(--yes-color);
}

.no-btn{
    background-color: var(--no-color);
}

.close-btn{
    background-color: var(--no-color);
    border-radius: 25px;
    height: 25px;
    width: 25px;
    text-align: center;
}

.library-container{
    display: flex;
}

.new-book{
    position: absolute;
    top: -50px;
}

#book-list{
    width: 1200px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#new-book-form-title{
    font-size: 1.5em;
}

#close-new-book-form{
    position: absolute;
    right: -12.5px;
    top: -12.5px;
    text-align: center;
}

#overlay-subdiv{
    height: 75%;
    width: 75%;
    margin: auto;
    position: relative;
    border: 2px black solid;
    background-color: var(--secondary-bg);
}

#new-book-form{

    height: 100%;
    width: 100%;
    color: var(--main-color);
    display: grid;
    grid-template-areas: 
    "heading heading"
    "heading heading"
    "title-label title-form"
    "author-label author-form"
    "pages-label pages-form"
    "read-label read-form"
    "buttons buttons"
    ;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(2,1fr);
}

#new-book-form>label{
    margin:auto;
}
#new-book-form>input{
    margin:auto;
    height: 50%;
    width: 75%;
    font-size: 1em;
    
}

.form-btns{
    grid-area: buttons;
    grid: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
}
#new-book-form>p{
    grid-area: heading;
}
#new-book-form>label[for="title"]{
    grid-area: title-label;
}
#new-book-form>label[for="author"]{
    grid-area: author-label;
}
#new-book-form>label[for="pages"]{
    grid-area: pages-label;
}
#new-book-form>label[for="read"]{
    grid-area: read-label;
}
#title{
    grid-area: title-form;
}
#author{
    grid-area: author-form;
}
#pages{
    grid-area: pages-form;
}
.read-inputs{
    grid-area: read-form;
    margin: auto;
}

#new-book-btn{
    margin: auto;
}

.new-book{
    padding: 50px 0 50px 0;
    display: flex;
}

label[for="read-yes"], label[for="read-no"]{
    font-size: 0.75em;
}

.edit-icon{
    height: 15px;
    cursor: pointer;
}

.title{
    width: 400px;
}

.author{
    width: 400px;
}

.pages{
    width: 100px;
    text-align: center;
}

.read{
    width: 100px;
    text-align: center;
}

.read>.table-entry{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.read>.table-entry>div{
    width: 50%;
}

p{
    color: var(--main-color);
    margin: auto;
    text-align: center;
}

footer>p{
    color: var(--main-bg);
    font-size: 0.7em;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    cursor: default;
}

.table-entry>div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title>.table-entry>div{
    width: 400px;
}

.author>.table-entry>div{
    width: 400px;
}

.pages>.table-entry>div{
    width: 100px;
}